.DS_Store


# dependencies
/node_modules

# production
/build

# svelte-kit
/.svelte-kit
/package

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
.env.local
.env.development.local