@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

/* h1 {
	font-size: 3rem;
	font-weight: bold;
} */

@layer components {
	button.btn {
		@apply px-4 py-2 rounded-md font-bold shadow-md focus:outline-none focus:ring;
	}

	button.btn-big {
		@apply text-lg px-9 py-4 rounded-lg;
	}

	button.btn-outlined {
		@apply border-3 border-gray-100 text-gray-100 ring-gray-200 dark:ring-gray-500;
	}

	button.btn-outlined-hover {
		@apply border-3 border-gray-100 text-gray-100 ring-gray-200 dark:ring-gray-500;
		transition: background 250ms, border 250ms;
	}

	button.btn-outlined-hover:hover {
		@apply bg-gray-200 text-gray-900 ring-gray-200 dark:ring-gray-400;
	}

	button.btn-filled {
		@apply bg-gray-200 text-gray-900 ring-gray-200 dark:ring-gray-400;
	}

	button.btn-gradient {
		@apply bg-gradient-to-br from-gray-100 to-gray-300 text-gray-900 ring-gray-200 dark:ring-gray-400;
	}

	button.btn-outlined.btn--primary {
		@apply border border-primary-600 text-primary-600 ring-primary-300 dark:ring-primary-800;
	}

	button.btn-outlined-hover.btn--primary:hover {
		@apply border-primary-600 border-3 bg-primary-600 text-white ring-primary-300 dark:ring-primary-800;
	}

	button.btn-filled.btn--primary {
		@apply bg-primary-600 text-white ring-primary-300 dark:ring-primary-800;
	}

	button.btn-gradient.btn--primary {
		@apply bg-gradient-to-br from-primary-500 to-primary-700 text-white ring-primary-300 dark:ring-primary-800;
	}

	button.btn-outlined.btn--secondary {
		@apply border border-secondary-600 text-secondary-600 ring-secondary-300 dark:ring-secondary-800;
	}

	button.btn-filled.btn--secondary {
		@apply bg-secondary-600 text-white ring-secondary-300 dark:ring-secondary-800;
	}

	button.btn-outlined-hover.btn--secondary:hover {
		@apply border-secondary-600 border-3 bg-secondary-600 text-white ring-secondary-300 dark:ring-secondary-800;
	}

	button.btn-gradient.btn--secondary {
		@apply bg-gradient-to-br from-secondary-500 to-secondary-700 text-white ring-secondary-300 dark:ring-secondary-800;
	}

	.banner-img {
		@apply absolute z-0 top-0 left-0 bg-cover w-screen h-full;
		background-image: linear-gradient(
				rgba(0, 23, 238, 0.63),
				rgba(48, 0, 239, 0.4)
			),
			url("../public/trees.jpg");
	}
}
