@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

/* h1 {
	font-size: 3rem;
	font-weight: bold;
} */

@layer components {
	button.btn {
		@apply px-4 py-2 rounded-md font-bold shadow-md focus:outline-none focus:ring;
	}

	button.btn-big {
		@apply text-lg px-5 py-3 rounded-xl;
	}

	button.btn-outlined.btn--white {
		@apply border border-gray-100 text-gray-100 ring-gray-200 dark:ring-gray-500;
	}

	button.btn-filled.btn--white {
		@apply bg-gradient-to-br from-gray-100 to-gray-300 text-gray-900 ring-gray-200 dark:ring-gray-400;
	}

	button.btn-filled.btn-gradient.btn--white {
		@apply bg-gray-200 text-gray-900 ring-gray-200 dark:ring-gray-400;
	}

	button.btn-outlined.btn--black {
		@apply border border-gray-900 text-gray-900 ring-gray-700;
	}

	button.btn-filled.btn--black {
		@apply bg-gray-900 text-white ring-gray-700;
	}

	button.btn-filled.btn-gradient.btn--black {
		@apply bg-gradient-to-br from-gray-900 to-black text-white ring-gray-700;
	}

	button.btn-outlined.btn--green {
		@apply border border-green-600 text-green-600 ring-green-300 dark:ring-green-800;
	}

	button.btn-filled.btn--green {
		@apply bg-green-600 text-white ring-green-300 dark:ring-green-800;
	}

	button.btn-filled.btn-gradient.btn--green {
		@apply bg-gradient-to-br from-green-500 to-green-700 text-white ring-green-300 dark:ring-green-800;
	}

	button.btn-outlined.btn--indigo {
		@apply border border-indigo-600 text-indigo-600 ring-indigo-300 dark:ring-indigo-800;
	}

	button.btn-filled.btn--indigo {
		@apply bg-indigo-600 text-white ring-indigo-300 dark:ring-indigo-800;
	}

	button.btn-filled.btn-gradient.btn--indigo {
		@apply bg-gradient-to-br from-indigo-500 to-indigo-700 text-white ring-indigo-300 dark:ring-indigo-800;
	}

	button.btn-outlined.btn--blue {
		@apply border border-blue-600 text-blue-600 ring-blue-300 dark:ring-blue-800;
	}

	button.btn-filled.btn--blue {
		@apply bg-blue-600 text-white ring-blue-300 dark:ring-blue-800;
	}

	button.btn-filled.btn-gradient.btn--blue {
		@apply bg-gradient-to-br from-blue-500 to-blue-700 text-white ring-blue-300 dark:ring-blue-800;
	}

	button.btn-outlined.btn--purple {
		@apply border border-purple-600 text-purple-600 ring-purple-300 dark:ring-purple-800;
	}

	button.btn-filled.btn--purple {
		@apply bg-purple-600 text-white ring-purple-300 dark:ring-purple-800;
	}

	button.btn-filled.btn-gradient.btn--purple {
		@apply bg-gradient-to-br from-purple-500 to-purple-700 text-white ring-purple-300 dark:ring-purple-800;
	}

	button.btn-outlined.btn--pink {
		@apply border border-pink-600 text-pink-600 ring-pink-300 dark:ring-pink-800;
	}

	button.btn-filled.btn--pink {
		@apply bg-pink-600 text-white ring-pink-300 dark:ring-pink-800;
	}

	button.btn-filled.btn-gradient.btn--pink {
		@apply bg-gradient-to-br from-pink-500 to-pink-700 text-white ring-pink-300 dark:ring-pink-800;
	}

	.banner-img {
		@apply absolute z-0 top-0 left-0 bg-cover w-screen h-full;
		background-image: linear-gradient(
				rgba(0, 23, 238, 0.63),
				rgba(48, 0, 239, 0.4)
			),
			url("../public/trees.jpg");
	}
}
