.banner-img {
  @apply absolute z-0 top-0 left-0 bg-cover bg-top xl:bg-center w-full h-full;
  background-image: linear-gradient(
      rgba(0, 23, 238, 0.63),
      rgba(48, 0, 239, 0.4)
    ),
    url("../public/trees.jpg");
}

.banner-text {
  font-size: clamp(2.5rem, 6vw, 6vw);
  line-height: 1;
  @apply text-primary-50 my-4;
}

.banner-data {
  @apply text-center sm:text-left;
  padding-top: 15rem;
  padding-left: min(10rem, 8vw);
}

.home-navbar {
  @apply fixed z-10 my-2 left-0 right-0 box-content;
  padding-right: min(10rem, 8vw);
}
